<div class="bigtable-row" data-row-number="<%= row %>" style="height: <%= height %>px; top: <%= top %>px">
	<% for (var col = 0; col < colWidths.length; col++) { %>
		<div class="bigtable-cell" style="width: <%= colWidths[col] %>px" data-col-number="<%= col %>">&nbsp;</div>
	<% } %>
</div>
