<% for (var i = 0; i < workbook.getSheetCount(); i++) { %>
	<div class="bigtable" data-active="<%= workbook.isWorksheetActive(workbook.getWorksheetIdByPosition(i)) %>" data-worksheet-id="<%= workbook.getWorksheetIdByPosition(i) %>"></div>
<% } %>
<div class="worksheet-switcher">
	<% for (var i = 0; i < workbook.getSheetCount(); i++) { %>
		<div class="worksheet-handle" data-worksheet-id="<%= workbook.getWorksheetIdByPosition(i) %>" data-active="<%= workbook.isWorksheetActive(workbook.getWorksheetIdByPosition(i)) %>"><%= workbook.getWorksheetIdByPosition(i) %></div>
	<% } %>
</div>
